@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700,300");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

[v-cloak]{
    display: none;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    color: #3F3F3F;
    padding: 1em;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Oxygen', Helvetica, sans-serif;
}

h1 {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
    color: lightcoral;
}

#user-list {
    max-width: 550px;
    margin: 2em auto;
    padding: 0;
}

#user-list>li {
    width: 100%;
    margin: 1rem auto;
    padding: 10px;
    position: relative;
    list-style: none;
    background-color: rgba(221, 51, 51, 0.2);
    cursor: pointer;
}

#user-list>li div {
    display: inline-block;
    vertical-align: middle;
}

#user-list>li span {
    padding: .1rem .2rem;
    display: block;
    clear: both;
    font-size: 1rem;
}

#user-list>li span.name {
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 200;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.description{
    display: flex;
    align-items: center;
}
.description__icon{
    font-size: 2rem;
    margin-right: .25rem;
    opacity: .75;
}
.description__text{

}

#user-list>li img {
    margin: 0 1rem;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#user-list>li:hover .name,
#user-list>li.active .name {
    text-shadow: 1px 1px 3px rgba(10, 10, 10, 0.2);
    font-weight: 600;
}

#user-list>li:hover img,
#user-list>li.active img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#user-list>li.active img {
    border-color: #333;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.75);
}

#user-list>li.active:after {
    content: '\f00c';
    display: inline-block;
    margin: 1rem 2rem;
    position: absolute;
    top: 0;
    right: 0;
    font-family: FontAwesome;
    font-size: 3rem;
    color: green;
    text-shadow: 0 0 5px rgba(50, 50, 50, 0.25);
}