// BASE
// GLOBAL
// =================================================

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	appearance: none;
	outline: none;
}

[v-cloak] {
	display: none;
}
