// ANIMATIONS
// VUE-TRANSITIONS
// =================================================
// default animation if don't use a name in the tag transition/transition-group (WITHOUT NAME)

.v-enter {
	opacity: 0;
}

.v-enter-active {
	transition: opacity 1s;
}

.v-leave-to {
	opacity: 0;
}

.v-leave-active {
	transition: opacity 0.5s linear 0.5s;
}
