@font-face {
    font-family: 'Dauphin';
    src: url('./DauphinPlain.eot');
    src: url('./DauphinPlain.eot?#iefix') format('embedded-opentype'),
         url('./DauphinPlain.woff2') format('woff2'),
         url('./DauphinPlain.woff') format('woff'),
         url('./DauphinPlain.ttf') format('truetype'),
         url('./DauphinPlain.svg#DauphinPlain') format('svg');
    font-weight: normal;
    font-style: normal;
}

