// SETTINGS
// COLORS
// ------------------





// GRAY SCALE
// =================================================
$color-black:   #000000;
$color-gray:    #3f3f3f;
$color-silver:  #d5d5d5;
$color-light:   #fafafa;
$color-white:   #ffffff;


// STATUS
// =================================================
$color-error: tomato;
$color-success: teal;


// BRAND
// =================================================
$color-brand-1: #42b883;
$color-brand-2: #35495e;